<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bits"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Mobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.user.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".ui.history.HistoriqueDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.TicketsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.ticket_test"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.SupermarcheTicketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.TicketDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ticket.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.HistoriqueActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.supermarche.SupermarcheActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>